#main_container{
    width: 25%;
    margin-left: 37.5%;
    fill: blur(5px);
    border-color: #2e7d32;
    border-style: solid;
    border-radius: 8px;
    background-color: white;
    margin-top: 5%;
    height: 18em;
    padding-top: 3%;
    font-family: Arial, Helvetica, sans-serif;
    
}
body{
    background-color: #F5F5F5;
}
button{
    width: 100%;
    height: 100%;
    border: none;
    background-color: rgb(135, 202, 135);
    color: white;
  
}
#but1{

    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    background-color: #2e7d32;
   
}
#but2{

    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
   
}
 #in_res, #in_sub{
    width: 100%;
    height: 100%;
    
    border: none;
}

#tittle{
    display: flex;
    flex-direction: row;
    margin-left: 5%;
    width: 90%;
    height: 2.5em;
}
#button_contain{
    height: 2.5em;
    margin-left: 5%;
    display: flex;
    width: 90%;
    margin-top: 5%;
    flex-direction: row;
}

#in_contain{
    display: flex;
    flex-direction: column;
    margin-top: 4%;
    width: 90%;
    margin-left: 5%;
}

#in_pwd, #in_pwdc, #in_mail{
    margin-top: 2%;
}
#in_pwdc, #in_name{
    display: none;
}
#in_pwd, #in_mail, #in_pwdc, #in_name{
    height: 3em;
    border:  1px solid #c8e6c9;
    padding-left: 4%;
    background-color: #f6fef6;
    border-radius: 4px;

}
#in_res{
    color: #2e7d32;
    margin-left: 5%;
    background: none;
    font-weight: 800;

}
#in_sub{
    color: #2e7d32;
    margin-left: 5%;
    margin-right: 5%;
    background: none;
    font-weight: 800;
    
 
}
#in_res:hover, #in_sub:hover{
    background-color: #2e7d32;
    color: white;
    border-radius: 5px;
}
#header{
    margin-left: 10%;
    margin-top: 7%;
    color: #2e7d32;
    font-weight: 700;
    font-size: 130%;
}

